In [1]:
import pandas as pd
import requests as re

country_names_df = pd.read_csv("countries.csv")
country_names_df = country_names_df.rename(columns = {"alpha_3": "ISO"})
country_names_df = country_names_df[["country", "ISO"]]

# Population Data

In [3]:
countries_iso = country_names_df["ISO"]

date = "2018:2021"
indicator_string = "SP.POP.TOTL"

year = ""
value = ""
test = []
results = []

for x in countries_iso:
    
    data = re.get(f"http://api.worldbank.org/v2/country/{x}/indicator/{indicator_string}?date={date}&format=json").json()

    try:
        entries = len(data[1])
        for a in range(entries):
        
            row_value = data[1][a]["value"]
            row_date = data[1][a]["date"]
            new_row = {"ISO": x, "year": row_date, "population": row_value}
            results.append(new_row)
    except:
        print(f"Skipped {x}")

print("Complete")

population_df = pd.DataFrame(results)

Skipped ALA
Skipped AIA
Skipped ATA
Skipped BVT
Skipped IOT
Skipped CXR
Skipped CCK
Skipped COK
Skipped FLK
Skipped GUF
Skipped ATF
Skipped GLP
Skipped GGY
Skipped HMD
Skipped VAT
Skipped JEY
Skipped MTQ
Skipped MYT
Skipped MSR
Skipped ANT
Skipped NIU
Skipped NFK
Skipped PCN
Skipped REU
Skipped BLM
Skipped SHN
Skipped SPM
Skipped SGS
Skipped SJM
Skipped TWN
Skipped TKL
Skipped UMI
Skipped WLF
Skipped ESH
Complete

In [4]:
working_data_df = pd.merge(country_names_df ,population_df, on = ["ISO"])
working_data_df

countries_iso_clean = working_data_df["ISO"].unique()

# Inflation Data

In [5]:
countries_iso = country_names_df["ISO"]

date = "2018:2021"
indicator_string = "FP.CPI.TOTL.ZG"

year = ""
value = ""
test = []
results = []

for x in countries_iso_clean:
    
    data = re.get(f"http://api.worldbank.org/v2/country/{x}/indicator/{indicator_string}?date={date}&format=json").json()

    try:
        entries = len(data[1])
        for a in range(entries):
        
            row_value = data[1][a]["value"]
            row_date = data[1][a]["date"]
            new_row = {"ISO": x, "year": row_date, "inflation": row_value}
            results.append(new_row)
    except:
        print(f"Skipped {x}")

print("Complete")

inflation_df = pd.DataFrame(results)

Complete

In [6]:
inflation_df

     ISO  year   inflation
0    AFG  2021         NaN
1    AFG  2020         NaN
2    AFG  2019    2.302373
3    AFG  2018    0.626149
4    ALB  2021    2.041472
..   ...   ...         ...
847  ZMB  2018    7.494572
848  ZWE  2021   98.546105
849  ZWE  2020  557.201817
850  ZWE  2019  255.304991
851  ZWE  2018   10.618866

[852 rows x 3 columns]

# GDP Data

In [7]:
date = "2018:2021"
indicator_string = "NY.GDP.MKTP.CD"

year = ""
value = ""
test = []
results = []

for x in countries_iso_clean:
    
    data = re.get(f"http://api.worldbank.org/v2/country/{x}/indicator/{indicator_string}?date={date}&format=json").json()

    try:
        entries = len(data[1])
        for a in range(entries):
        
            row_value = data[1][a]["value"]
            row_date = data[1][a]["date"]
            new_row = {"ISO": x, "year": row_date, "GDP": row_value}
            results.append(new_row)
    except:
        print(f"Skipped {x}")

print("Complete")

GDP_df = pd.DataFrame(results)

Complete

In [8]:
GDP_df

     ISO  year           GDP
0    AFG  2021  1.478686e+10
1    AFG  2020  2.014344e+10
2    AFG  2019  1.890449e+10
3    AFG  2018  1.841885e+10
4    ALB  2021  1.825579e+10
..   ...   ...           ...
847  ZMB  2018  2.631159e+10
848  ZWE  2021  2.837124e+10
849  ZWE  2020  2.150970e+10
850  ZWE  2019  2.183223e+10
851  ZWE  2018  3.415607e+10

[852 rows x 3 columns]

# Unemployment Data

In [9]:
date = "2018:2021"
indicator_string = "SL.UEM.TOTL.NE.ZS"

year = ""
value = ""
test = []
results = []

for x in countries_iso_clean:
    
    data = re.get(f"http://api.worldbank.org/v2/country/{x}/indicator/{indicator_string}?date={date}&format=json").json()

    try:
        entries = len(data[1])
        for a in range(entries):
        
            row_value = data[1][a]["value"]
            row_date = data[1][a]["date"]
            new_row = {"ISO": x, "year": row_date, "unemployment": row_value}
            results.append(new_row)
    except:
        print(f"Skipped {x}")

print("Complete")

unemployment_df = pd.DataFrame(results)

Complete

In [10]:
unemployment_df

     ISO  year  unemployment
0    AFG  2021          5.58
1    AFG  2020         11.71
2    AFG  2019           NaN
3    AFG  2018           NaN
4    ALB  2021           NaN
..   ...   ...           ...
847  ZMB  2018          5.03
848  ZWE  2021           NaN
849  ZWE  2020           NaN
850  ZWE  2019          7.37
851  ZWE  2018           NaN

[852 rows x 3 columns]

# Combine

In [11]:
working_data_df = pd.merge(working_data_df ,GDP_df, on = ["ISO", "year"])
working_data_df = pd.merge(working_data_df ,inflation_df, on = ["ISO", "year"])
working_data_df = pd.merge(working_data_df ,unemployment_df, on = ["ISO", "year"])
working_data_df

,country,ISO,year,population,GDP,inflation,unemployment
0,Afghanistan,AFG,2021,40099462,1.478686e+10,NaN,5.58
1,Afghanistan,AFG,2020,38972230,2.014344e+10,NaN,11.71
2,Afghanistan,AFG,2019,37769499,1.890449e+10,2.302373,NaN
3,Afghanistan,AFG,2018,36686784,1.841885e+10,0.626149,NaN
4,Albania,ALB,2021,2811666,1.825579e+10,2.041472,NaN
...,...,...,...,...,...,...,...
847,Zambia,ZMB,2018,17835893,2.631159e+10,7.494572,5.03
848,Zimbabwe,ZWE,2021,15993524,2.837124e+10,98.546105,NaN
849,Zimbabwe,ZWE,2020,15669666,2.150970e+10,557.201817,NaN
850,Zimbabwe,ZWE,2019,15354608,2.183223e+10,255.304991,7.37
851,Zimbabwe,ZWE,2018,15052184,3.415607e+10,10.618866,NaN

In [12]:
working_data_df.to_csv("Working Data.csv")

# Get Clean Data

In [14]:
clean_data_df = working_data_df
for x in countries_iso_clean:
    if clean_data_df[clean_data_df["ISO"] == x].isnull().any().any():
        clean_data_df = clean_data_df[clean_data_df["ISO"] != x]

clean_data_df = clean_data_df.reset_index(drop=True)
clean_data_df

       country  ISO  year  population           GDP  inflation  unemployment
0    Australia  AUS  2021    25688079  1.552667e+12   2.863910          5.12
1    Australia  AUS  2020    25655289  1.326901e+12   0.846906          6.46
2    Australia  AUS  2019    25340217  1.392228e+12   1.610768          5.16
3    Australia  AUS  2018    24966643  1.428289e+12   1.911401          5.30
4      Austria  AUT  2021     8955797  4.803684e+11   2.766667          6.46
..         ...  ...   ...         ...           ...        ...           ...
311   Viet Nam  VNM  2018    94914330  3.101065e+11   3.539628          1.16
312     Zambia  ZMB  2021    19473125  2.214763e+10  22.021234          5.20
313     Zambia  ZMB  2020    18927715  1.811063e+10  15.732585          6.03
314     Zambia  ZMB  2019    18380477  2.330867e+10   9.150316          5.54
315     Zambia  ZMB  2018    17835893  2.631159e+10   7.494572          5.03

[316 rows x 7 columns]

In [15]:
clean_data_df.to_csv("Clean Data.csv")

# GDP Growth

In [17]:
results = []

for ISO in clean_data_df["ISO"].unique():
    
    start = clean_data_df[(clean_data_df["ISO"] == ISO) & (clean_data_df["year"] == "2020")]["GDP"].values[0]
    end = clean_data_df[(clean_data_df["ISO"] == ISO) & (clean_data_df["year"] == "2021")]["GDP"].values[0]

    change = ((start - end) / start) * 100
    
    new_row = {"ISO": ISO,"2020": start, "2021": end,  "change": change}

    results.append(new_row)

GDP_change_df = pd.DataFrame(results)
GDP_change_df

    ISO          2020          2021     change
0   AUS  1.326901e+12  1.552667e+12 -17.014555
1   AUT  4.352252e+11  4.803684e+11 -10.372369
2   AZE  4.269300e+10  5.462218e+10 -27.941762
3   BLR  6.137113e+10  6.820538e+10 -11.135944
4   BEL  5.252118e+11  5.941042e+11 -13.117064
..  ...           ...           ...        ...
74  UKR  1.566179e+11  2.000855e+11 -27.753971
75  USA  2.106047e+13  2.331508e+13 -10.705395
76  URY  5.356076e+10  5.931948e+10 -10.751771
77  VNM  3.466158e+11  3.661376e+11  -5.632127
78  ZMB  1.811063e+10  2.214763e+10 -22.290793

[79 rows x 4 columns]

In [18]:
GDP_change_df.to_csv("GDP Change.csv")