In [1]:
import pandas as pd

In [2]:
# Read the inflation.csv file into a dataframe
fred_df = pd.read_csv('FRED_merged.csv')

# Read the population.csv file into a dataframe
downloaded_df = pd.read_csv('downloaded_merged.csv')

In [3]:
downloaded_df

,country,date,bot,inflation,interest,liquidity,debt
0,"Afghanistan, Islamic Rep. of",2017,"-6,803.56",NaN,NaN,NaN,NaN
1,"Afghanistan, Islamic Rep. of",2018,"-6,378.17",NaN,NaN,NaN,NaN
2,"Afghanistan, Islamic Rep. of",2019,"-5,855.06",149.9,...,"7,426.98",NaN
3,"Afghanistan, Islamic Rep. of",2020,"-5,506.55",...,...,"8,419.49",NaN
4,"Afghanistan, Islamic Rep. of",2021,...,...,...,...,NaN
...,...,...,...,...,...,...,...
1753,NaN,2017,NaN,NaN,NaN,NaN,NaN
1754,NaN,2018,NaN,NaN,NaN,NaN,NaN
1755,NaN,2019,NaN,NaN,NaN,NaN,NaN
1756,NaN,2020,NaN,NaN,NaN,NaN,NaN
1757,NaN,2021,NaN,NaN,NaN,NaN,NaN

In [4]:
downloaded_df['country']=downloaded_df.country.str.split(',').str[0]

In [5]:
fred_df['date']=pd.to_datetime(fred_df['date']).dt.year

In [8]:
merged_df = pd.merge(fred_df, downloaded_df, on=['country', 'date'], how='outer')
merged_df.head(5)

,country,date,Fiscal Balance,GDP per capita,GDP,Unemployment Rate,Inflation,Population,CPI,bot,inflation,interest,liquidity,debt
0,Aruba,2018,NaN,31705.279053,3.202235e+09,NaN,3.62604141352956,105962,3.626041,287.4,NaN,NaN,NaN,NaN
1,Aruba,2018,NaN,31705.279053,3.202235e+09,NaN,3.62604141352956,105962,3.626041,NaN,105.06,6.00,852.08,NaN
2,Aruba,2019,NaN,31762.734026,3.368970e+09,NaN,4.25746204335428,106442,4.257462,321.66,109.53,5.70,830.00,NaN
3,Afghanistan,2018,1.63419574,502.056771,1.841885e+10,17.466,0.62614913,.,NaN,"-6,378.17",NaN,NaN,NaN,NaN
4,Afghanistan,2018,1.63419574,502.056771,1.841885e+10,17.466,0.62614913,.,NaN,NaN,146.52,...,"7,305.68",NaN

In [12]:
merged_df.to_csv('my_data.csv', index=False)

In [14]:
print(merged_df.columns)

Index(['country', 'date', 'Fiscal Balance', 'GDP per capita', 'GDP',
       'Unemployment Rate', 'Inflation', 'Population', 'CPI', 'bot',
       'inflation', 'interest', 'liquidity', 'debt'],
      dtype='object')

In [15]:
clean_merged_df = merged_df.groupby(['country', 'date']).agg({'Unemployment Rate': 'sum', 'Population': 'sum','Fiscal Balance':'sum',
                                                            'GDP per capita':'sum','GDP':'sum','Inflation':'sum',
                                                            'bot':'sum','interest':'sum','liquidity':'sum','debt':'sum',
                                                             'CPI':'sum','inflation':'sum'}).reset_index()

In [16]:
clean_merged_df.head(15)

,country,date,Unemployment Rate,Population,Fiscal Balance,GDP per capita,GDP,Inflation,bot,interest,liquidity,debt,CPI,inflation
0,Advanced Economies,2017,0.000000,0,0,0.000000,0.000000e+00,0,0,0,"4,822,093.35",0,0.0,0
1,Advanced Economies,2018,0.000000,0,0,0.000000,0.000000e+00,0,0,0,"4,852,344.48",0,0.0,0
2,Advanced Economies,2019,0.000000,0,0,0.000000,0.000000e+00,0,0,0,"5,018,887.66",0,0.0,0
3,Advanced Economies,2020,0.000000,0,0,0.000000,0.000000e+00,0,0,0,"5,635,428.32",0,0.0,0
4,Advanced Economies,2021,0.000000,0,0,0.000000,0.000000e+00,0,0,0,"6,148,274.59",0,0.0,0
5,Afghanistan,2017,0.000000,0,0,0.000000,0.000000e+00,0,"-6,803.56",14.84,"7,185.84",8,0.0,145.61
6,Afghanistan,2018,52.397999,...,1.634195741.634195741.63419574,1506.170312,5.525654e+10,0.626149130.626149130.62614913,"-6,378.17",...,"7,305.68",7.38,0.0,146.52
7,Afghanistan,2019,35.222000,..,-1.05808112-1.05808112,1001.045328,3.780898e+10,2.302372532.30237253,"-5,855.06",...,"7,426.98",6.13,0.0,149.9
8,Afghanistan,2020,32.234001,..,-2.24279939-2.24279939,1033.733104,4.028688e+10,5.607005245.60700524,"-5,506.55",...,"8,419.49",7.4,0.0,...
9,Afghanistan,2021,40.452000,37.26604080200237.266040802002,..,737.509228,2.957372e+10,..,...,...,...,7.6,0.0,...
10,Albania,2017,0.000000,0,0,0.000000,0.000000e+00,0,"-1,978.66",6.22,"3,523.76",70.12,0.0,115.06
11,Albania,2018,56.610001,79.18479.184,0,10575.327389,8.120940e+05,2.028059630711362.02805963071136,"-2,069.59",5.93,"3,829.48",67.61,0.0,117.39
12,Albania,2019,27.160999,79.282,0,5396.215864,4.147916e+05,1.41109078954248,"-2,103.43",6.28,"3,626.59",65.73,0.0,119.05
13,Albania,2020,30.846001,76.989,0,5332.160475,4.104558e+05,1.62088661717004,"-2,210.46",6.12,"4,647.19",74.45,0.0,120.98
14,Albania,2021,29.504999,0,0,6492.872012,4.459828e+05,2.04147163139546,"-2,392.17",6.02,"5,470.75",73.17,0.0,123.45

In [17]:
clean_merged_df.to_csv('my_clean_data.csv', index=False)